ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e4cece;
}

li {
  float: left;
  height: 300px;
  width: 300px;
  display: inline-block;
}
img {
  height: 190px;
  width: 190px;
}
